<app-header></app-header>

<ion-content class="ion-padding">
  
    

      <app-main-title title="¿Has olvidado tu contraseña?" subtitle="Podemos ayudarte con eso" ></app-main-title>

      <div class="logeando">
        <ion-input [(ngModel)]="correoRecuperacion" label="CORREO" label-placement="floating" fill="outline" placeholder="@duocuc.cl"></ion-input>
      </div>
      <br>
      <ion-button (click)="verificarCorreoRecuperacion()" class="boton-ingresar">enviar</ion-button>
    
  
  <app-triangle></app-triangle>

</ion-content>

<ion-footer collapse="fade"></ion-footer>
