<br>
<ion-button   [routerLink]="['/generar-qr']"expand="block" fill="outline" shape="round" [disabled]="!BotonFuncionando(0)" color="success">
  <ion-icon slot="start" name="people-circle-outline"></ion-icon>
  Sección PGY4121 
</ion-button>
<br>
<ion-button  [routerLink]="['/generar-qr']" expand="block" fill="outline" shape="round" [disabled]="!BotonFuncionando(1)" color="success">
  <ion-icon slot="start" name="people-circle-outline"></ion-icon>
  Sección ASY4131 
</ion-button>
<br>
<ion-button  [routerLink]="['/generar-qr']" expand="block" fill="outline" shape="round" [disabled]="!BotonFuncionando(2)" color="success">
  <ion-icon slot="start" name="people-circle-outline"></ion-icon>
  Sección CSY4111 
</ion-button>
<br>
<ion-button  [routerLink]="['/generar-qr']" expand="block" fill="outline" shape="round" [disabled]="!BotonFuncionando(3)" color="success">
  <ion-icon slot="start" name="people-circle-outline"></ion-icon>
  Sección MAT4140 
</ion-button>
<br>
<ion-button  [routerLink]="['/generar-qr']" expand="block" fill="outline" shape="round" [disabled]="!BotonFuncionando(4)" color="success">
  <ion-icon slot="start" name="people-circle-outline"></ion-icon>
  Sección APY4461 
</ion-button>
