<ion-header >

  <app-header></app-header>

</ion-header>

<ion-content>
  
  <ion-content>
    <div class="ion-text-center">
      <app-main-title title="Lista" subtitle="Aquí puede visualizar la asistencia en tiempo real"></app-main-title>
      <app-listando alumno="Alumno: Diego Sánchez (di.sanchez)" namee="person-outline"></app-listando>
      <app-listando alumno="Alumno: Vicente Morales (vic.moralesl)" namee="person-outline"></app-listando>
      <app-listando alumno="Alumno: Juan Gomez (juan.gom)" namee="person-outline"></app-listando>
    </div>
  </ion-content>
  
  


</ion-content>
